<nav class="desktop-nav">

  <div class="container-fluid">

    <ul class="nav navbar-right navbar-nav">
      <li class="home"><a href="/">phant</a></li>
      <li class="make-stream">
        <a href="/streams/make">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </li>
    </ul>

  </div>

</nav>

<nav class="mobile-nav">

  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">phant</a>
    </div>

    <div class="navbar-collapse collapse" style="height: auto;">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/streams">Public Streams</a></li>
        <li><a href="/streams/make">Create a Stream</a></li>
      </ul>
    </div>

  </div>

</nav>

