<footer>
  <div class="container-fluid">
    <p>
      Brought to you with &#x2764; by <a href="https://sparkfun.com">SparkFun Electronics</a>.
      <span class="hidden-xs">
        Powered by <object type="image/svg+xml" data="/img/phant.svg"></object>
      </span>
    </p>
  </div>
</footer>

