<div class="panel">
  <div class="panel-heading">
    <span class="glyphicon"></span> &nbsp;{{name}}
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  </div>
  <div class="panel-body">
    {{{config}}}
  </div>
</div>
